* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsla(222, 100%, 96%, 0.2);
    font-family: 'Hanken Grotesk', sans-serif;
    width: 100%;
    height: 100vh;
}

p {
    font-size: 18px;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

article {
    background-color: #fff;
    border-radius: 20px;
    width: 90%;
    max-width: 600px;
    min-width: 320px;
    box-shadow: 8px 12px 24px 8px hsla(225, 71%, 34%, 0.09);

    /* so the two containers stack up one another when on mobile */
    display: flex;
}

.result {
    /* width: 50%; */
    /* background-color:  */
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 20px;
    flex: 1 1 50%;
    padding: 36px 44px;
    color: hsl(241, 100%, 89%);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    gap: 20px;
}

.result-title h1 {
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 4px;
}

.result-circle {
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 50%;
    text-align: center;
    width: 130px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.result p {
    text-align: center;
}

.result-circle p {
    font-size: 14px;
    margin-top: -8px;
    color: hsla(241, 100%, 89%, 0.5);
}

.result-number {
    display: block;
    font-size: 54px;
    color:  hsl(0, 0%, 100%);
    font-weight: 600;
}

.congratulations-title {
    font-size: 26px;
    font-weight: bold;
    color: hsl(0, 0%, 100%);
    margin-bottom: 16px;
}

.congratulations-text {
    color: hsl(241, 100%, 89%);
    font-size: 14px;
}

.summary {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 36px 32px;
}

.summary-title h2 {
    font-size: 18px;
    font-weight: 700;
    color: hsl(224, 30%, 27%);
}

.summary-result {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.result-card {
    padding: 12px 12px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
}

.result-card-title {
    display: flex;
    gap: 6px;
}

.result-card-number {
    color: hsla(224, 30%, 27%, 0.5);
    font-family: inherit;
    font-weight: 800;
}

.result-card-number span {
    color: hsl(224, 30%, 27%);
    margin-right: 4px;
}

.red {
    color: hsl(0, 100%, 67%);
    background-color: rgba(255, 87, 87, 0.09);
}

.yellow {
    color: hsl(39, 100%, 56%);
    background-color: hsla(39, 100%, 56%, 0.09);
}

.green {
    color: hsl(166, 100%, 37%);
    background-color: hsla(166, 100%, 37%, 0.09);
}

.blue {
    color: hsl(234, 85%, 45%);
    background-color: hsla(234, 85%, 45%, 0.09);
}

.icons {
    width: 16px;
}

.continue {
    margin-top: 10px;
    background-color: hsl(224, 30%, 27%);
    color: hsl(221, 100%, 96%);
    font-family: inherit;
    font-weight: 600;
    padding: 12px;
    border-radius: 24px;
    border: none;
    cursor: pointer;
    width: 100%;
}

.continue:active, .continue:hover {
    transition: ease-in-out 250ms;
    background-color: hsl(252, 89%, 56%);
}

footer {
    position: absolute;
    bottom: 10px;
    right: 15px;
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: hsla(224, 30%, 27%, 0.5);
}

.attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}

.attribution-responsive {
    font-size: 11px;
    text-align: center;
    margin-top: 18px;
    color: hsla(224, 30%, 27%, 0.5);
    display: none;
}

.attribution-responsive a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}


/* responsive design */

@media (max-width: 550px) {
    article {
        flex-direction: column;
        margin: auto 20px;
        width: 100%;
    }

    .result {
        border-radius: 20px 20px 0 0;
    }
}

@media (max-width: 550px) and (max-height: 748px) {
    .result, article {
        border-radius: 0;
    }

    article {
        margin: auto 0;
    }

}

@media (max-width: 550px) and (max-height: 856px) {
    .attribution {
        display: none;
    }

    .attribution-responsive {
        display: block;
    }
}